<h1 style="margin-top: 40px">Choose a new password</h1>
<span class="flash-error"><%= flash[:error] %></span>
<% form_for :user, :html => {:class=>'iform'} do |f| %>
	<table>
		<tr>
			<td align="right">New Password</td>
			<td><%= f.password_field :password, :class=>"itext" %></td>
		</tr>
		<tr>
			<td align="right">Confirm Password</td>
			<td><%= f.password_field :password_confirmation, :class=>"itext" %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= submit_tag 'Change Password', :class=>'ibutton' %></td>
		</tr>
	</table>
<%end%>