<!--
<div class="span-24">
	<p id="rush-header">Rush is a period for you to meet the brothers of Pi Delta Psi. By throwing events for our rushes to attend, we hope to provide an opportunity for you to get to know the brothers better and to learn more about the fraternity. There is absolutely no obligation in rushing. Rush merely provides a comfortable means through which students who are interested in our fraternity can ask questions and interact with the brothers while having fun at the same time.</p>
</div>
-->
<div id="left-about" class="span-5">
	<ul id="about-side">
		<li><%= link_to 'Rush Pi Delta Psi!', :controller => 'rush', :action => 'index' %></li>
		<li class="active"><%= link_to 'Why Pi Delta Psi?', :controller => 'rush', :action => 'why' %></li>
		<li><%= link_to 'Frequently Asked Question', :controller => 'rush', :action => 'faq' %></li>	
	</ul>
	<%= image_tag 'crest.png', :style=>'margin: 40px 39px;' %>	
</div>

<div id="right-about" class="span-18 last">

	<h1>Why Pi Delta Psi?</h1>
	<p>Why Pi Delta Psi?  Here are a few reasons,
	<ul>
	<li>Pi Delta Psi is the FIRST and ONLY Asian Interest Fraternity @ RPI.</li>

	<li>Be a Leader and not a Follower - be a part of the roots of a Fraternity, rather than a leaf.</li>

	<li>We are the fastest growing organization of its kind - 10 Chapters and Colonies in our first 5 years.</li>

	<li>Learn about other Asian cultures and share your knowledge with others.</li>

	<li>Never a dull moment - We hold numerous social and cultural events throughout the year and throughout the country.</li>

	<li>A Brotherhood is Eternal - You can always count on your Brothers... a Bond thicker than Blood.</li>

	<li>After graduation, the opportunities only get better with our network of Alumni.</li>

	<li>Mixers and Socials with other Sororities and Greeks.</li>

	<li>Unlimited opportunities to meet new people</li>

	<li>Leadership opportunities, crucial to building a good resume.</li>

	<li>Extensive database of materials from current brothers and alumni to courses you will take.</li>
	</ul>
</div>

<style>
#rush-pdpsi{
	display: block;
	margin: 40px 0;
	font-size: 8em;
	font-family: 'BebasNeueRegular';
	letter-spacing: -2px;
	line-height: 1em;
	border-bottom: 1px solid #ccc;
}
</style>